body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #cc6504e1;
    background-image: url("photos/BackgroundTest04.jpg");
    background-size: cover;
    /* roztáhne obrázek přes celou plochu */
    background-position: center;
    /* zarovná obrázek na střed */
    background-repeat: no-repeat;
    /* zabrání opakování obrázku */
    background-attachment: fixed;
    /* obrázek zůstane na místě při scrollování */
}

.big-text {
    font-size: 60px;
    color: rgb(5, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 5px 5px 7px rgb(255, 255, 255);
}